<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete user form</title>
</head>
<body>
<h1>Delete user</h1>
<br/><br/>

<form th:method="DELETE" th:action="@{/admin/delete_people}" th:object="${user}">
  <label for="id">Confirm id (WARNING!!! All data will be deleted after you submit. Data will be loosed): </label>
  <input id="id" placeholder="Enter id" required type="number" min="1" th:field="*{id}"/>
  <br/>
  <input type="submit" value="Delete!"/>
</form>

</body>
<br/>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Ссылки с рамками под курсором мыши</title>
  <style>
    body { background: #fff; } /* фон страницы */
    a {
      display: inline-block; /* преобразование ссылок во встроенные блоки */
      color: #333; /* цвет ссылок */
      font-weight: bold; /* жирность шрифта */
      text-decoration: none; /* отмена подчеркивания */
      border: 3px #fff solid; /* стили рамки */
      padding: 5px 10px; /* внутренние отступы */
    }
    a:hover {
      border: 3px #f00 solid; /* стили рамки ссылок под курсором мыши */
    }
  </style>
</head>
<body>
<div>
  <a href="/admin/people">See all people</a>
  <a href="/admin/new_user">Add new user</a>
  <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>