<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit user form</title>
</head>
<body>
<h1>Edit user</h1>
<br/><br/>

<form th:method="PATCH" th:action="@{/admin/edit_people}" th:object="${user}">
  <label for="id">Enter id (required): </label>
  <input readonly id="id" placeholder="Enter id" required type="number" min="1" th:field="*{id}"/>
  <br/>
  <label for="firstName">Enter firstname: </label>
  <input id="firstName" placeholder="Enter First Name" required type="text" th:field="*{firstName}"/>
  <br/>
  <label for="lastName">Enter lastname: </label>
  <input id="lastName" placeholder="Enter Last Name" required type="text" th:field="*{lastName}"/>
  <br/>
  <label for="age">Enter age: </label>
  <input id="age" placeholder="Enter age" required type="number" min="0" th:field="*{age}"/>
  <br/>
  <label for="username">Enter login: </label>
  <input readonly id="username" placeholder="Enter username" required type="text" th:field="*{username}"/>
  <br/>
  <label for="password">Enter password: </label>
  <input autocomplete="on" id="password" placeholder="Enter password" required type="password" th:field="*{password}"/>
  <br/>
  <label for="email">Enter email: </label>
  <input id="email" placeholder="Enter email" required type="text" th:field="*{email}"/>
  <br/>
  <p>
    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="ro : ${allRoles}"
             th:text="${ro.name}"
             th:value="${ro.id}"
             th:field="*{roles}"
      />
    </label>
  </p>
  <input type="submit" value="Update!"/>
</form>
</body>
<br/>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Ссылки с рамками под курсором мыши</title>
  <style>
    body { background: #fff; } /* фон страницы */
    a {
      display: inline-block; /* преобразование ссылок во встроенные блоки */
      color: #333; /* цвет ссылок */
      font-weight: bold; /* жирность шрифта */
      text-decoration: none; /* отмена подчеркивания */
      border: 3px #fff solid; /* стили рамки */
      padding: 5px 10px; /* внутренние отступы */
    }
    a:hover {
      border: 3px #f00 solid; /* стили рамки ссылок под курсором мыши */
    }
  </style>
</head>
<body>
<div>
  <a href="/admin/people">See all people</a>
  <a href="/admin/new_user">Add new user</a>
  <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>